* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: relative;
}

main {
    padding: 0 1rem;
    margin-bottom: 6rem;
}

button {
    all: unset;
    transition: .3s ease;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.coffee-cart {
    position: absolute;
    background-color: #232323;
    padding: 3rem 1rem;
    top: 3rem;
    right: 0;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    display: fle;
    justify-content: center;
    align-items: center;
}

.coffee-cart h3 {
    font-size: 1.25rem;
    color: rgb(149, 194, 208);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
}

.coffee-cart li {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.15rem;
}

.coffee-cart li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.coffee-cart h4 {
    margin-right: auto;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: #ddb74c;
}

.coffee-cart button {
    background-color: #ddb74c;
    padding: .4rem;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.coffee-cart span {
    display: inline-block;
    margin: 0 .5rem;
}

.coffee-cart-item-total {
    background-color: #181a18;
    /* padding: 1rem; */
    padding: 1.5rem 0 1.5rem 3rem;
}

.coffee-cart-total-cost {
    font-weight: 600;
}

.hide {
    display: none !important;
}

.page-header-btn {
    width: 50px;
    font-size: 1.25rem;
    text-decoration: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddb74c;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    z-index: 5;
}


.top-bg {
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .05)), url(./bg-cafe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* put bg behind everything*/
    z-index: -1;
}

.btn-cart {
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    position: relative;
}

.btn-cart:hover {
    color: #ddb74c;
}

.coffee-header {
    padding: 2rem 1rem;
    margin-bottom: 4rem;
}

.coffee-header header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffee-header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #ddb74c;
}

.coffee-collection {
    background-color: #181a18;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    padding: 5rem 1rem;
}

.coffee-collection-text {
    text-align: center;
    margin-bottom: 2rem;
}

.coffee-collection-title {
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.coffee-collection-description {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #c9c9c9;
}

.coffee-filter {
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 4rem;
}

.btn-filter {
    padding: .75rem 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    letter-spacing: .5px;
}

.btn-filter:hover,
.btn-active {
    background-color: #ddb74c;
}

.coffee-collection-list {
    display: grid;
    gap: 2rem;
}

.coffee-collection-item:hover .coffee-btn-add-to-cart {
    /* background-color: red; */
    /* border: 2px solid red; */
    opacity: 1;
}

.coffee-img-box {
    height: 250px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.coffee-tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8125rem;
    padding: .25rem .5rem;
    border-radius: 30px;
}

.coffee-tag-popular {
    background-color: rgb(189, 156, 25);
}

.coffee-tag-new {
    background-color: rgb(149, 194, 208);
}

.coffee-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.coffee-description>* {
    grid-column: span 2;
    align-self: center;
}

.coffee-name {
    text-transform: capitalize;
    font-size: 1.35rem;
}

.coffee-price {
    justify-self: end;
    padding: .5rem .65rem;
    border-radius: 5px;
    background-color: rgb(162, 210, 225);
    color: #202020;
}

.coffee-rating-box {
    display: flex;
    align-items: center;
}

.coffee-btn {
    justify-self: end;
    text-transform: capitalize;
    padding: .5rem;
    font-weight: 600;
    border-radius: 5px;
}

.coffee-btn-sold-out {
    color: rgb(219, 73, 73);
    pointer-events: none;
}

.coffee-btn-add-to-cart {
    color: #ddb74c;
    opacity: 0;
}

.coffee-btn-add-to-cart:hover {
    background-color: #ddb74c;
    color: #927b3c;
}

.coffee-footer {
    padding: 1rem;
    background-color: #927b3c;
}

footer {
    text-align: center;
    color: #ddb74c;

}

@media screen and (min-width: 600px) {
    .coffee-collection-list {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .coffee-collection {
        width: 95%;
        padding: 5rem 3rem;
    }
}